<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section id="about-section" class="pt-5 pb-5">
  <div class="container wrapabout">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0 offset-lg-0.2">
        <div class="blockabout">
          <div class="blockabout-inner text-center text-sm-start">
            <div class="title-big pb-3 mb-3">
              <h3>{{"Sobre mi"|translate}}</h3>
            </div>
            <p class="description-p text-muted pe-0 pe-lg-0">
              Soy Alejandro Gálvez García, estudiante de grado superior en Desarrollo de Aplicaciones Multiplataforma, apasionado por la creación y 
                desarrollo de soluciones tecnológicas innovadoras. Mi enfoque se centra en aprender constantemente y mantenerme
                al tanto de las últimas tecnologías emergentes en el campo del desarrollo de software.
            </p>
            <p class="description-p text-muted pe-0 pe-lg-0">Destaco por mi capacidad para enfrentar desafíos, resolver problemas de manera eficiente y colaborar en equipo.
              Estoy emocionado por contribuir al mundo del desarrollo de software,
              aportando soluciones creativas y manteniéndome adaptable en un entorno tecnológico en constante evolución.</p>
            <div class="sosmed-horizontal pt-3 pb-3">
              <a href="https://github.com/alexgg9"><i class="fa fa-github"></i></a>
              <a href="www.linkedin.com/in/alejandro-gálvez-garcía"><i class="fa fa-linkedin"></i></a>
            </div>
            <a href="#" class="btn rey-btn mt-3">{{"Ver más"| translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-5 mt-lg-0 offset-lg-0.2">
        <figure class="potoaboutwrap">
          <img src="../../../assets/img/picAboutMe.jpeg" alt="potoabout" style="width: 550px; height: 700px;" />
        </figure>
      </div>
    </div>
  </div>
</section>
   
